@model IEnumerable<BackOffice_ASP.Models.Announcement>

@{
    string SortOrder = ViewData["SortOrder"] as string;
    string ArrowUpClassName = "bi-arrow-up";
    string ArrowDownClassName = "bi-arrow-down";

    ViewData["SubjectSortParm"] = SortOrder == "subject_asc" ? "subject_desc" : "subject_asc";
    ViewData["DateSortParm"] = SortOrder == "date_asc" ? "" : "date_asc";

    ViewData["SubjectIconClass"] = SortOrder == "subject_asc" ? ArrowDownClassName :
                                   SortOrder == "subject_desc" ? ArrowUpClassName : null;

    ViewData["DateIconClass"] = SortOrder == "" ? ArrowUpClassName :
                                SortOrder == "date_asc" ? ArrowDownClassName : null;

    ViewData["Title"] = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p class="text-secondary m-0">Manage <i class="bi bi-caret-right-fill"></i></p>
    <h2 class="pb-2">
        <a asp-action="Index" class="text-dark">
            @ViewData["Title"]
        </a>
    </h2>
    <partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
</div>
<div class="bg-light">
    <div class="container">
        <div class="btn-toolbar justify-content-between py-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group">
                <a asp-action="Create" class="btn btn-primary">
                    @*<i class="bi-plus-circle"></i>*@
                    New announcement
                </a>
            </div>
            <form method="get" asp-action="Index" class="input-group w-50">
                @if (!string.IsNullOrEmpty(ViewData["SortOrder"] as string))
                {
                    <input type="hidden" name="sorting" value="@ViewData["SortOrder"]" />
                }
                <input class="form-control" type="search" name="q" value="@ViewData["Search"]" placeholder="Search announcements" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Go</button>
                </div>
            </form>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    With selected <span id="js-selection-counter" class="badge badge-dark"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <button onclick="$('#btnPublish').click()" class="dropdown-item btn-secondary" type="button">Publish</button>
                    <button onclick="$('#btnUnpublish').click()" class="dropdown-item btn-secondary" type="button">Unpublish</button>
                    <div class="dropdown-divider"></div>
                    <button onclick="$('#btnDelete').click()" class="dropdown-item btn-secondary text-danger" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" asp-action="Index">
    <div class="container pt-2">
        <table class="table table-hover js-table-check">
            <thead>
                <tr>
                    <th height="1" class="px-0">
                        <label class="d-block px-2 mb-0 text-center">
                            <input type="checkbox" class="align-middle">
                        </label>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sorting="@ViewData["SubjectSortParm"]" asp-route-q="@ViewData["Search"]">
                            @Html.DisplayNameFor(model => model.Subject)
                            @if (ViewData["SubjectIconClass"] != null)
                            {
                                <i class="bi @ViewData["SubjectIconClass"]"></i>
                            }
                        </a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sorting="@ViewData["DateSortParm"]" asp-route-q="@ViewData["Search"]">
                            Last
                            <span class="text-nowrap">
                                Edit
                                @if (ViewData["DateIconClass"] != null)
                                {
                                    <i class="bi @ViewData["DateIconClass"]"></i>
                                }
                            </span>
                        </a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var writer = (item.IsEdited && item.Editor != null) ? item.Editor : item.Author;

                    <tr class="@(!item.IsPublished ? "text-muted" : "")">
                        <td height="1" class="px-0">
                            <label class="d-block h-100 px-2 mb-0 text-center">
                                <input type="checkbox" name="checkedIds" value="@item.Id" class="align-middle">
                            </label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            <small>@item.Body.TruncateWithEllipsis(80)</small>
                        </td>
                        <td>
                            <partial name="_PicBadge" model="writer" />
                            <time datetime="@item.DateEdited" title="@item.DateEdited">
                                @item.DateEdited.TimeAgo()
                            </time>
                        </td>
                        <td>
                            @(item.IsPublished ? "Yes" : "No")
                        </td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="noscript-visible">
        <button type="submit" name="button" class="btn-secondary" id="btnPublish" value="publish">Publish</button>
        <button type="submit" name="button" class="btn-secondary" id="btnUnpublish" value="unpublish">Unpublish</button>
        <button type="submit" name="button" class="btn-secondary text-danger" id="btnDelete" value="delete">Delete</button>
    </div>
</form>
