@model IEnumerable<BackOffice_ASP.Models.Announcement>

<div class="card">
    <div class="card-header text-center">
        <i class="fas fa-bullhorn mr-2" aria-hidden="true"></i>
        Announcements
        <a asp-area="Manage" asp-controller="Announcements" action="Index" class="float-right text-secondary text-decoration-none">
            <i class="bi bi-gear-fill"></i>
            <span>Manage</span>
        </a>
    </div>
    <div class="card-body p-3">
        <table class="table table-sm table-borderless m-0">
            <tbody>
                @foreach (var item in Model)
                {
                    var writer = (item.IsEdited && item.Editor != null) ? item.Editor : item.Author;

                    <tr>
                        <td>
                            <a asp-controller="Announcements" asp-action="View" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Subject)
                            </a>
                        </td>
                        <td class="fit">
                            <partial name="_PicBadge" model="writer" />
                            <time datetime="@item.DateEdited" title="@item.DateEdited">
                                @item.DateEdited.TimeAgo()
                            </time>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center p-0">
        <a asp-controller="Announcements" action="Index" class="d-block p-2">View all</a>
    </div>
</div>
