@model IEnumerable<BackOffice_ASP.Models.Announcement>

@using BackOffice_ASP.Helpers;

@{
    ViewData["Title"] = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-center mb-4">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    @foreach (var item in Model)
    {
        <div class="card shadow-sm my-3">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => item.Subject)</h5>
                <h6 class="card-subtitle mb-2 text-secondary font-weight-normal">
                    <partial name="_PicBadge" model="@item.Author" />
                    @Html.DisplayFor(model => item.Author.FullName)
                    <small>
                        -
                        <time datetime="@item.DateCreated" title="@item.DateCreated">
                            @String.Format("{0:dddd, d MMMM yyyy}", item.DateCreated)
                        </time>
                    </small>
                </h6>
                <div class="card-text">
                    <p>
                        @item.GetStrippedBody().TruncateWithEllipsis(280)
                    </p>
                </div>
                <a asp-action="View" asp-route-id="@item.Id" class="card-link">View announcement</a>
            </div>
        </div>
    }
</div>
